@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    background-image: url("fondo.gif");
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}
.segundoBoton{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: skewY(-15deg);
}
.primerBoton{
    position: absolute;
    top: 33%;
    left: 32%;
    transform: skewY(20deg);
}
a{
    position: absolute;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
a:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}
.neon{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0 20px;
    font-size: 6em;
    color: #fff; 
    text-shadow: 0 0 20px #ff005b;
}
.neon::after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff005b;
    filter: blur(15px);
}
.neon::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fe3a80;
    z-index: -2;
    opacity: .5;
    filter: blur(40px);
}